[Desktop Entry]
Type=Application
Name=Dock-e
Comment=Start the project build of Dock-e
TryExec=/home/alvaro/.local/bin/dock-e
Exec=/home/alvaro/.local/bin/start-dock-e
Terminal=false
StartupNotify=false
Hidden=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
